/* tells every element on page to not have any margin or border unless we tell it to */
/* border-box value calculates the height and width of the element by including the border 
    and padding additions to the content box */
/* another option is content-size; value is the default, and calculates the height and
     width of the element by only counting the content box of the CSS Box Model. 
     This means that the border and padding must be calculated separately and added to
      the width and heigh to determine the size of the element */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}
/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
}
/* adding display: inline; allows items to not be in a 'list' form, but puts them next to each other */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}
/* text-decoration isn't normally needed, but we use it here as web pages auto underline and change color of clicked items */
header a {
    text-decoration: none;
    color: #fce138;
}
header nav {
    float: right;
    margin: 7px 0;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}
footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}
footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}
/* line-height property assigns how much verticle space should be between lines of text */
/* text-align property lets us align the text to the left, right, center, or justified */
footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}
footer a {
    color: #024e76;
}
section {
    padding: 60px;
}
/* Hero Style Start */
.hero {
    background-image: url("../images/hero-bg.jpg");
    height:600px;
    background-size: cover;
    /* set the size of bckgd image to og size or make it stretched, repeated, or constrained to fit avail
    space; cover shinks so parts won't get clipped */
    background-position: center;
    /* set the initial position of the bckgd image */
    position: relative;
}
/* Hero Style End */
/* Hero Form Start */
.hero-form {
    border-style: solid;
    border-width: 3px;
    border-color: #024e76;
    /* border can also be written border: solid 3px #024e76; */
    background-color: #fce138;
    padding: 20px;
    width: 500px;
    color: #024e76;
    position: absolute;
    bottom: 120px;
    right: 140px;
}
/* Hero Form End */
.hero-form h3 {
    font-size: 24px;
    margin: 0;
}
.hero-form p {
    margin: 5px 0 15px 0;
}
.form-input {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
}
.hero-form label {
    margin: 0 5px;
}
.hero-form button {
    color: #fce138;
    background-color: #024e76;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}
/* HERO STYLES END */